---
import PostList from "../../components/PostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog", ({ data }) => {
  return data.isDraft !== true;
});

// const posts = (await Astro.glob("./articles/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.pubDate).valueOf() -
//     new Date(a.frontmatter.pubDate).valueOf()
// );

const description =
  "Product design, User Experience research and development articles";
---

<BaseLayout title="Blog" description={description}>
  <div
    role="banner"
    class="h-[480px] pb-20 justify-center px-16 wrapper flex gap-24 items-end"
  >
    <h1 class="text-huge text-gray-100 mb-8 md:mb-0 flex-1">Blog</h1>
    <div class="w-1/3 pl-12">
      <p class="text-gray-300">
        Writing about product design, user experience research, development and
        tech industry
      </p>
    </div>
  </div>
  <div class="bg-gray-100">
    <div class="wrapper px-16 py-16">
      <PostList posts={allBlogPosts} />
    </div>
  </div>
</BaseLayout>
