*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  @apply bg-graphite-700;
  width: 6px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  @apply bg-graphite-500;
  border-radius: 10px;
  overflow: hidden;
}

/* .container .wrapper {
} */
