---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="text-neutral-900 dark:text-neutral-200 mr-2">404</div>
  <div>Page not found.<a href="/" class="link">Go back</a></div>
</BaseLayout>
