---
import BaseLink from "../components/server/BaseLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <p class="text-neutral-900 dark:text-neutral-200 mr-2">404</p>
  <p>Page not found.</p>
  <BaseLink to="/">go back &rarr;</BaseLink>
</BaseLayout>
