---
import BaseBanner from "../components/server/BaseBanner.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import GridBox from "../components/server/GridBox.astro";
import TwitterStream from "../components/server/TwitterStream.astro";
import ProjectFaceCard from "../components/server/ProjectFaceCard.astro";
import FeaturedPostsList from "../components/server/FeaturedPostsList.astro";
---

<BaseLayout>
  <div class="max-w-[1512px] mx-auto h-screen">
    <div class="md:grid lg:grid-flow-col lg:grid-cols-3 h-full md:p-2">
      <GridBox className="lg:col-span-2">
        <BaseBanner />
      </GridBox>
      <GridBox className="lg:col-span-1 order-2">
        <ProjectFaceCard />
      </GridBox>
      <GridBox className="lg:col-span-1 ">
        <FeaturedPostsList />
      </GridBox>
      <GridBox className="lg:col-span-1 lg:row-span-2 md:order-2 ">
        <TwitterStream />
      </GridBox>
    </div>
  </div>
</BaseLayout>
