---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import Image from "../components/Image.astro";
import ArrowRight from "../components/ArrowRight.astro";
---

<BaseLayout>
  <div class="space-y-2">
    <section class="lg:space-y-0 flex flex-col lg:flex-row gap-2">
      <Card
        class="bg-brand-indigo text-graphite-100 flex-1"
        label="Latest project"
        title="Content Genius — is an AI-based publishing platform made for creative people"
        description="Product design & development"
        link="https://contentgenius.io"
        arrow="up"
      />
      <Image
        class="flex-1"
        imageUrl="/images/cg-preview-analytics.png"
        imageAlt="Content Genius analitics screenshot"
      />
    </section>
    <div
      class="text-[24px] leading-[28px] lg:text-[32px] lg:leading-8 py-4 text-graphite-600 dark:text-graphite-200 antialiased"
    >
      With extensive experience in Fintech, E-commerce, and AI-innovations,
      Aleks provides top-notch design solutions and sdevelops high-performing
      applications that people love to&nbsp;use.
    </div>
    <section>
      <a href="https://contentgenius.io">
        <Image
          class="mb-4"
          imageUrl="/images/cg-lp-preview-with-analytics.png"
          imageAlt="Content Genius Landing Page preview"
        />
      </a>
      <div class="lg:flex justify-between">
        <div class="font-sans-2">
          <div
            class="text-[16px] leading-[24px] lg:text-[28px] lg:leading-[32px] text-graphite-900 dark:text-graphite-200 lg:mb-2"
          >
            Landing page for Content Genius.
          </div>
          <div class="text-graphite-900 dark:text-graphite-400 opacity-60">
            Design & development
          </div>
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
