---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Product Designer & Developer"
  description="Focusiing on data-intensive applications, design systems and user experience researches. Passionate about minimalistic and easy to use interfaces."
>
  <div
    role="banner"
    class="pt-[120px] md:pt-[320px] pb-12 md:pb-24 justify-center px-8 md:px-16 lg:flex xl:gap-16 lg:items-end wrapper"
  >
    <h1
      class="text-large md:text-huge font-semibold leading-[1em] text-gray-100 mb-8 lg:mb-0 lg:w-2/3"
    >
      Product Designer &&nbsp;Developer
    </h1>
    <div class="lg:w-1/3 lg:pl-12">
      <p class="text-gray-300">
        Focusing on data-intensive applications, design systems and user
        experience researches. Passionate about minimalistic and easy to use
        interfaces.
      </p>
    </div>
  </div>

  <!-- Selected Projects -->
  <div class="bg-white">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <img
        src="/images/projects/trading-platform/preview.png"
        alt="Crypto Trading Platform UI"
        class="w-full"
      />
      <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
        <a
          href="/projects/trading-platform/"
          class="text-gray-900 text-small font-semibold lg:font-semibold lg:text-body group inline-block"
        >
          <div class="flex gap-3">
            <h3 class="font-semibold">Crypto Exchange Platform</h3>
            <span
              class="inline-block transform transition-transform duration-300 group-hover:translate-x-2 text-gray-600"
              >→</span
            >
          </div>
          <div class="text-gray-600 font-medium text-small">Design Concept</div>
        </a>
      </div>
    </div>
  </div>

  <div class="bg-[#f2f4f5]">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <img
        src="/images/projects/termsflow/main-3.png"
        alt="Crypto Trading Platform UI"
        class="w-full"
      />
      <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
        <a
          href="/projects/termsflow/"
          class="text-gray-900 text-small lg:text-body group inline-block"
        >
          <div class="flex gap-3">
            <h3 class="font-semibold">Software contracts management</h3>
            <span
              class="inline-block transform transition-transform duration-300 group-hover:translate-x-2 text-gray-600"
            >
              →
            </span>
          </div>
          <div class="text-gray-600 font-medium text-small">
            Product Design for TermsFlow
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <img
        src="/images/projects/xcoex/design-system/exchange-1.png"
        alt="Crypto Trading Platform UI"
        class="w-full"
      />
      <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
        <a
          href="/projects/xcoex-design-system/"
          class="text-gray-900 text-small lg:text-body group inline-block"
        >
          <div class="flex gap-3">
            <h3 class="font-semibold">Crypto trading platfrom</h3>
            <span
              class="inline-block transform transition-transform duration-300 group-hover:translate-x-2 text-gray-600"
            >
              →
            </span>
          </div>
          <div class="text-gray-600 font-medium text-small">
            Product Design & Design System
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Side Projects -->
  <div>
    <div
      role="banner"
      class="pt-[120px] md:pt-[320px] pb-12 md:pb-24 justify-center px-8 md:px-16 lg:flex xl:gap-16 lg:items-end wrapper"
    >
      <h2
        class="text-large md:text-huge font-semibold leading-[1em] text-gray-100 mb-8 lg:mb-0 lg:w-2/3"
      >
        Side Projects
      </h2>
      <div class="lg:w-1/3 lg:pl-12">
        <p class="text-gray-300">
          There is no better way to learn new technologies and improve your
          skills than by building something from scratch in public.
        </p>
      </div>
    </div>

    <div class="bg-white">
      <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
        <img
          src="/images/projects/corporate-design-system/corporate-ds-main-2.png"
          alt="Crypto Trading Platform UI"
          class="w-full"
        />
        <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
          <a
            href="/projects/corporate-design-system/"
            class="text-gray-900 text-small font-semibold lg:font-semibold lg:text-body group inline-block"
          >
            <div class="flex gap-3">
              <h3 class="font-semibold">The Corporate</h3>
              <span
                class="inline-block transform transition-transform duration-300 group-hover:translate-x-2 text-gray-300"
                >→</span
              >
            </div>
            <div class="text-gray-600 font-medium text-small">
              Design System
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <img
        src="/images/projects/content-genius/3.png"
        alt="Crypto Trading Platform UI"
        class="w-full"
      />
      <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
        <a
          href="https://contentgenius.io/"
          class="text-gray-100 text-small font-semibold lg:font-semibold lg:text-body group inline-block"
        >
          <div class="flex gap-3">
            <h3 class="font-semibold">Content Genius</h3>
            <span
              class="inline-block transform transition-transform duration-300 group-hover:translate-x-2 text-gray-300"
              >→</span
            >
          </div>
          <div class="text-gray-600 font-medium text-small">
            AI-Powered publishing platform
          </div>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
