---
import BaseBanner from "../components/server/BaseBanner.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import GridBox from "../components/server/GridBox.astro";
import TwitterStream from "../components/server/TwitterStream.astro";
import ProjectFaceCard from "../components/server/ProjectFaceCard.astro";
import FeaturedPostsList from "../components/server/FeaturedPostsList.astro";
---

<BaseLayout>
  <div class="max-w-[1512px] mx-auto h-screen">
    <div class="md:grid grid-flow-col-dense md:grid-cols-3 h-full md:p-2">
      <GridBox className="col-span-3 lg:col-span-2 md:row-span-1 order-1">
        <BaseBanner />
      </GridBox>
      <GridBox
        className="col-span-3 lg:col-span-1 md:row-span-1 order-2 md:order-3"
      >
        <ProjectFaceCard />
      </GridBox>
      <GridBox
        className="col-span-3 lg:col-span-1 md:row-span-1 order-3 md:order-2 overflow-y-scroll"
      >
        <FeaturedPostsList />
      </GridBox>
      <GridBox
        className="col-span-3 order-4 lg:row-span-2 lg:col-1 overflow-y-scroll"
      >
        <TwitterStream />
      </GridBox>
    </div>
  </div>
</BaseLayout>
