---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import Image from "../components/Image.astro";
---

<BaseLayout>
  <Card
    class="bg-brand-indigo col-span-4 md:col-span-2"
    label="In Progress"
    titleBold="Content Genius"
    title="is an AI-based publishing platform made for creative people looking for their audience"
    description="Product design & development"
    link="https://contentgenius.io"
    arrow="up"
  />
  <Image
    size="half"
    class="bg-graphite-800 col-span-4 md:col-span-2"
    imageUrl="/images/cg-preview-analytics.png"
    imageAlt="Content Genius analitics screenshot"
    link="https://contentgenius.io"
  />
  <Image
    size="full"
    class="bg-graphite-800 col-span-4"
    link="https://contentgenius.io"
    imageUrl="/images/cg-lp-preview-with-analytics.png"
    imageAlt="Content Genius landing page preview"
  />
  <a
    href="/projects/trading-platform"
    class="col-span-4 bg-graphite-800 rounded-xl overflow-hidden"
  >
    <div class="text-center px-6 py-8 md:py-12">
      <h3 class="flex-1 text-xl md:text-3xl font-medium">
        Crypto Trading Platform
      </h3>
      <p class="text-sm md:text-lg text-graphite-450">Design Concept</p>
    </div>
    <img
      class="w-full"
      src="/images/crypto_trading_platform.png"
      alt="Crypto Trading Platform UI"
    />
  </a>
  <a
    href="/projects/corporate-design-system"
    class="col-span-4 md:col-span-2 bg-graphite-800 rounded-xl overflow-hidden bg-no-repeat bg-cover bg-center bg-[url(/images/projects/corporate-design-system/corporate_banner.png)] min-h-[280px] md:min-h-[320px] flex items-center justify-center text-center"
  >
  </a>
  <Card
    class="bg-graphite-800 col-span-4 md:col-span-2"
    label="Coming soon"
    titleBold="Corporate"
    title="is a design system made for platforms and data-intensive applications"
    description="Design"
    link="/projects/corporate-design-system"
    arrow="down"
  />
</BaseLayout>
