---
import BaseBanner from "../components/server/BaseBanner.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import GridBox from "../components/server/GridBox.astro";
import TwitterStream from "../components/server/TwitterStream.astro";
import ProjectFaceCard from "../components/server/ProjectFaceCard.astro";
import FeaturedPostsList from "../components/server/FeaturedPostsList.astro";
---

<BaseLayout>
  <div class="max-w-[1512px] mx-auto h-screen">
    <div class="h-full lg:grid lg:grid-cols-3 lg:grid-rows-6 p-2">
      <GridBox className="lg:col-span-2 lg:order-1 lg:row-span-2">
        <BaseBanner />
      </GridBox>
      <GridBox className="lg:col-span-1 lg:order-4 lg:row-span-4">
        <ProjectFaceCard />
      </GridBox>
      <GridBox className="lg:col-span-1 lg:order-3 lg:row-span-4">
        <FeaturedPostsList />
      </GridBox>
      <GridBox className="lg:col-span-1 lg:order-2 lg:row-span-6">
        <TwitterStream />
      </GridBox>
    </div>
  </div>
</BaseLayout>
