---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import Image from "../components/Image.astro";
---

<BaseLayout>
  <div class="space-y-4">
    <div class="flex space-x-4">
      <Card
        class="bg-brand-indigo flex-1"
        label="Latest project"
        title="Content Genius — is an AI-based publishing platform made for creative people"
        description="Product design & development"
        link="https://contentgenius.io"
        arrow="up"
      />
      <Image
        class="bg-graphite-800 flex-1"
        imageUrl="/images/cg-preview-analytics.png"
        imageAlt="Content Genius analitics screenshot"
      />
    </div>

    <div class="bg-graphite-800 rounded-3xl rounded-6 overflow-hidden pb-8">
      <a href="https://contentgenius.io">
        <Image
          imageUrl="/images/cg-lp-preview-with-analytics.png"
          imageAlt="Content Genius Landing Page preview"
        />
      </a>
      <div class="px-10">
        <div
          class="text-[16px] leading-[24px] lg:text-[28px] lg:leading-[32px] lg:mb-2"
        >
          Landing page for Content Genius
        </div>
        <div class="text-graphite-400 opacity-60 font-sans-2 text-xl">
          Design & development
        </div>
      </div>
    </div>

    <div class="bg-graphite-800 rounded-3xl rounded-6 overflow-hidden pb-8">
      <a href="https://contentgenius.io">
        <Image
          imageUrl="/images/cg-lp-preview-with-analytics.png"
          imageAlt="Content Genius Landing Page preview"
        />
      </a>
      <div class="px-10">
        <div
          class="text-[16px] leading-[24px] lg:text-[28px] lg:leading-[32px] lg:mb-2"
        >
          Landing page for Content Genius
        </div>
        <div class="text-graphite-400 opacity-60 font-sans-2 text-xl">
          Design & development
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
