---
import BaseBanner from "../components/server/BaseBanner.astro";
import PostList from "../components/server/PostList.astro";
import ProjectList from "../components/server/ProjectList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import GridBox from "../components/server/GridBox.astro";

const projects = (await Astro.glob("./projects/*.{md,mdx}"))
  .filter(
    (project) => project.frontmatter.featured && !project.frontmatter.draft
  )
  .sort(
    (b, a) =>
      new Date(a.frontmatter.pubDate).valueOf() -
      new Date(b.frontmatter.pubDate).valueOf()
  );

const articles = await Astro.glob("./articles/*.{md,mdx}");

const featuredPosts = articles
  .filter((post) => post.frontmatter.featured && !post.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  );
---

<BaseLayout>
  <div class="max-h-screen overflow-hidden h-full">
    <div class="grid grid-flow-col grid-cols-3 grid-rows-2 h-full p-2 gap-2">
      <GridBox className="lg:col-span-2">
        <BaseBanner />
      </GridBox>
      <GridBox className="lg:col-span-1">
        <div class="p-8">
          <div class="mb-8">Articles</div>
          <div>
            <PostList posts={featuredPosts} />
          </div>
        </div>
      </GridBox>
      <GridBox className="lg:col-span-1">Projects</GridBox>
      <GridBox className="lg:col-span-1 row-span-2">
        <div class="flex items-center justify-center h-full">Loading...</div>
      </GridBox>
    </div>
  </div>
</BaseLayout>
