---
import BaseBanner from '../components/BaseBanner.astro'
import PostList from '../components/PostList.astro'
import ProjectList from '../components/ProjectList.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const projects = (await Astro.glob('./projects/*.{md,mdx}'))
  .filter(
    (project) =>
      project.frontmatter.is_featured &&
      !project.frontmatter.draft
  )
  .sort(
    (b, a) =>
      new Date(a.frontmatter.created_at).valueOf() -
      new Date(b.frontmatter.created_at).valueOf()
  )

const posts = (await Astro.glob('./blog/*.{md,mdx}'))
  .filter(
    (post) =>
      post.frontmatter.is_featured && !post.frontmatter.draft
  )
  .sort(
    (b, a) =>
      new Date(b.frontmatter.created_at).valueOf() -
      new Date(a.frontmatter.created_at).valueOf()
  )
---

<BaseLayout>
  <section role="banner" class="mb-16">
    <h2 class="mb-8">About</h2>
    <BaseBanner />
  </section>
  <section class="mb-16 space-y-8">
    <h2>Projects</h2>
    <ProjectList projects={projects} />
    <a href="/projects" class="block">Show all →</a>
  </section>
  <section class="mb-16 space-y-8">
    <h2>Posts</h2>
    <PostList posts={posts} />
    <a href="/blog" class="block">Read all →</a>
  </section>
</BaseLayout>
