---
import BaseBanner from "../components/server/BaseBanner.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import GridBox from "../components/server/GridBox.astro";
import TwitterStream from "../components/server/TwitterStream.astro";
import ProjectFaceCard from "../components/server/ProjectFaceCard.astro";
import FeaturedPostsList from "../components/server/FeaturedPostsList.astro";
---

<BaseLayout>
  <div class="max-w-[1512px] mx-auto">
    <div
      class="lg:grid lg:grid-cols-3 lg:grid-flow-row lg:auto-rows-auto h-screen"
    >
      <GridBox
        className="lg:col-span-2 lg:row-span-1 lg:order-1 lg:overflow-hidden"
      >
        <BaseBanner />
      </GridBox>
      <GridBox
        className="lg:col-span-1 lg:row-span-2 lg:order-4 lg:overflow-hidden"
      >
        <ProjectFaceCard />
      </GridBox>
      <GridBox
        className="lg:col-span-1  lg:row-span-2 lg:order-3 lg:overflow-hidden"
      >
        <FeaturedPostsList />
      </GridBox>
      <GridBox
        className="lg:col-span-1 lg:order-2 lg:row-span-3 lg:h-full lg:overflow-hidden"
      >
        <TwitterStream />
      </GridBox>
    </div>
  </div>
</BaseLayout>
