---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Aleks Petrov | Product Designer & Developer"
  description="Focusiing on data-intensive applications, design systems and user experience researches. Passionate about minimalistic and easy to use interfaces."
>
  <div
    role="banner"
    class="pt-[120px] md:pt-[320px] pb-12 md:pb-24 justify-center px-8 md:px-16 lg:flex xl:gap-16 lg:items-end wrapper"
  >
    <h1
      class="text-large md:text-huge font-semibold leading-[1em] text-gray-100 mb-8 lg:mb-0 lg:w-2/3"
    >
      Product Designer &&nbsp;Developer
    </h1>
    <div class="lg:w-1/3 lg:pl-12">
      <p class="text-gray-300">
        Focusing on data-intensive applications, design systems and user
        experience researches. Passionate about minimalistic and easy to use
        interfaces.
      </p>
    </div>
  </div>
  <!-- Selected Projects -->
  <div class="bg-white">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <img
        src="/images/projects/trading-platform/1.png"
        alt="Crypto Trading Platform UI"
        class="w-full"
      />
      <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
        <a
          href="/projects/trading-platform"
          class="text-gray-900 text-small font-semibold lg:font-semibold lg:text-body group inline-block"
        >
          <span>Crypto Exchange Platform</span>
          <span
            class="inline-block transform transition-transform duration-300 group-hover:translate-x-2 text-gray-600"
            >→</span
          >
          <div class="text-gray-600 font-medium text-small">Design Concept</div>
        </a>
      </div>
    </div>
  </div>

  <!-- Side Projects -->
  <div>
    <div
      role="banner"
      class="pt-[120px] md:pt-[320px] pb-12 md:pb-24 justify-center px-8 md:px-16 lg:flex xl:gap-16 lg:items-end wrapper"
    >
      <h1
        class="text-large md:text-huge font-semibold leading-[1em] text-gray-100 mb-8 lg:mb-0 lg:w-2/3"
      >
        Side Projects
      </h1>
      <div class="lg:w-1/3 lg:pl-12">
        <p class="text-gray-300">
          There is no better way to learn new technologies and improve your
          skills than by building something from scratch in public.
        </p>
      </div>
    </div>

    <div class="bg-white">
      <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
        <img
          src="/images/projects/corporate-design-system/corporate-ds-main.png"
          alt="Crypto Trading Platform UI"
          class="w-full"
        />
        <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
          <a
            href="/projects/corporate-design-system"
            class="text-gray-900 text-small font-semibold lg:font-semibold lg:text-body group inline-block"
          >
            <span>The Corporate</span>
            <span
              class="inline-block transform transition-transform duration-300 group-hover:translate-x-2 text-gray-300"
              >→</span
            >
            <div class="text-gray-600 font-medium text-small">
              Design System
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <img
        src="/images/projects/content-genius/3.png"
        alt="Crypto Trading Platform UI"
        class="w-full"
      />
      <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
        <a
          href="https://contentgenius.io"
          class="text-gray-100 text-small font-semibold lg:font-semibold lg:text-body group inline-block"
        >
          <span>Content Genius</span>
          <span
            class="inline-block transform transition-transform duration-300 group-hover:translate-x-2 text-gray-300"
            >→</span
          >
          <div class="text-gray-600 font-medium text-small">
            AI-Powered publishing platform
          </div>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
