---
import ContactLink from "../components/server/ContactLink.astro";
import EmploymentHistory from "../components/server/EmploymentHistory.astro";

import { EMAIL, CURRENT_LOCATION } from "../config";
import BlogLayout from "../layouts/BlogLayout.astro";
---

<BlogLayout content={{ title: "Profile" }} hasSubsForm={false}>
  <div class="space-y-16">
    <div>
      <p>
        I specialize in developing innovative digital products by conducting
        user research, creating interactive prototypes, and developing minimum
        viable products (MVPs). I also help startups define a clear roadmap to
        ensure that their ideas are successfully brought to fruition.
      </p>
    </div>
    <div>
      <h2 class="mb-8">Details</h2>
      <div class="space-y-4">
        <div class="flex gap-8">
          <div class="w-24">Email</div>
          <div><ContactLink type="email">{EMAIL}</ContactLink></div>
        </div>
        <div class="flex gap-8">
          <div class="w-24">Location</div>
          <div><ContactLink type="text">{CURRENT_LOCATION}</ContactLink></div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="mb-8">Employment History</h2>
      <EmploymentHistory />
    </div>
    <p>
      Learn morer on my <ContactLink type="linkedin" /> or follow <ContactLink
        type="twitter"
      />
    </p>
  </div>
</BlogLayout>
