<p class="mb-8 leading-7">
  Creating and managing software since 2008. Experienced in
  product design, coding, research and product management.
  Focusing on user experience. Interested in fintech,
  educational and life-changing projects. Always looking for new
  opportunities to grow.
</p>
<p>
  Reach me at
  <a
    href="mailto:hello@alekspetrov.com?subject=Sent from website"
    >hello@alekspetrov.com</a
  >
</p>
