<div>
  <div class="leading-7 space-y-6" role="banner">
    <p>
      I am E-shaped person who translates product ideas into reality. Creating
      web software since 2008. Experienced in product design, coding, project
      management. Interested in fintech, educational and life-changing projects.
    </p>
    <p>
      Reach me at
      <a
        class="link"
        href="mailto:hello@alekspetrov.com?subject=Sent from website"
        >hello@alekspetrov.com</a
      >
    </p>
  </div>
</div>
