---
export interface Props {
  maxWidth: "wide" | "narrow" | "full";
}

const { maxWidth }: Props = Astro.props;

const maxWidthClass = {
  wide: "max-w-[1440px]",
  narrow: "max-w-[1280px]",
  full: "max-w-full",
}[maxWidth];
---

<body class="bg-graphite-900 text-graphite-100 antialiased">
  <main class={`${maxWidthClass} mx-auto grid grid-cols-4 gap-2 p-2`}>
    <slot />
  </main>
</body>
