---
export interface Props {
  label?: string;
  title?: string;
  titleBold?: string;
  text?: string;
  description?: string;
  imageUrl?: string;
  imageAlt?: string;
  imageRound?: boolean;
  link?: string;
  class?: string;
  arrow?: "up" | "down" | "right";
}

const {
  imageUrl,
  imageAlt,
  imageRound = true,
  link,
  class: className,
}: Props = Astro.props;
---

<a href={link} class={`${className} p-6 bg-gray-100 min-h-[760px]`}>
  {
    imageUrl && (
      <img
        src={imageUrl}
        alt={imageAlt}
        class:list={[
          "block w-full border border-graphite-200",
          { "rounded-xl": imageRound },
        ]}
      />
    )
  }
</a>
