---
import { LINKEDIN, TWITTER } from "../config.js";
---

<div
  class="col-span-4 flex justify-between lg:justify-start items-center gap-2 bg-graphite-800 rounded-full pl-10 px-4 py-2"
>
  <div class="md:flex gap-1 flex-1 text-xl md:text-2xl text-center">
    <p class="font-medium">Work with me</p>
    <a href="mailto:hello@alexpetrov.com" class="underline">
      hello@alexpetrov.com</a
    >
  </div>
  <div class="hidden flex-1 md:flex-initial md:flex gap-2">
    <div class="-space-x-4">
      <a
        href={TWITTER}
        class="bg-social-twitter rounded-full inline-flex items-center justify-center w-14 h-14 border-4 border-graphite-800 relative"
      >
        <img src="/images/twitter.svg" alt="Twitter" />
      </a>
      <a
        href={LINKEDIN}
        class="bg-social-linkedin rounded-full inline-flex items-center justify-center w-14 h-14 border-4 border-graphite-800"
      >
        <img src="/images/linkedin.svg" alt="LinkedIn" class="pb-1 -mt-1" />
      </a>
    </div>
  </div>
</div>
