---
import { LINKEDIN, TWITTER } from "../config.js";
---

<div
  class="col-span-4 flex justify-between lg:justify-start items-center gap-2 bg-graphite-200 rounded-full px-4 py-2"
>
  <a href="/" class="block w-14 h-14 border-4 border-graphite-200 rounded-full">
    <img src="/images/avatar.png" alt="Aleks Petrov" />
  </a>
  <div class="hidden flex-1 lg:inline-block lg:text-2xl text-graphite-800">
    Product Designer & Web Developer
  </div>
  <div class="flex-1 md:flex-initial flex gap-2">
    <a
      href="/blog"
      class="flex-1 md:w-64 border border-graphite-300 rounded-full px-8 inline-flex items-center text-xl lg:text-2xl my-1 justify-center h-12"
    >
      Blog
    </a>
    <div class="-space-x-4">
      <a
        href={TWITTER}
        class="bg-social-twitter rounded-full inline-flex items-center justify-center w-14 h-14 border-4 border-graphite-200 relative"
      >
        <img src="/images/twitter.svg" alt="Twitter" />
      </a>
      <a
        href={LINKEDIN}
        class="bg-social-linkedin rounded-full inline-flex items-center justify-center w-14 h-14 border-4 border-graphite-200"
      >
        <img src="/images/linkedin.svg" alt="LinkedIn" class="pb-1 -mt-1" />
      </a>
    </div>
  </div>
</div>
