---
import { LINKEDIN_URL, TWITTER_URL } from "../config.js";
---

<div class="bg-black">
  <div
    class="flex justify-between px-8 md:px-16 py-6 font-medium text-gray-100 max-w-[1280px] mx-auto"
  >
    <a href="/">Aleks Petrov</a>
    <a href="/blog">Blog</a>
    <a href={LINKEDIN_URL}>LinkedIn</a>
    <a href={TWITTER_URL}>Twitter</a>
  </div>
</div>
