---
export interface Props {
  imageUrl: string;
  imageAlt: string;
  link?: string;
  class?: string;
  size?: "half" | "full";
}

const { imageUrl, imageAlt, link, class: className, size }: Props = Astro.props;
---

<a
  href={link}
  class={`${className} rounded-2xl p-2 lg:p-4 flex flex-col overflow-hidden`}
>
  <img
    src={imageUrl}
    alt={imageAlt}
    class="block rounded-xl overflow-hidden border border-graphite-700"
  />
</a>
