---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
  <div class="layout-wrapper mt-12 mb-16">
    <a href="/" class="text-neutral-900 dark:text-neutral-200">{SITE_TITLE}</a>
  </div>
</header>
