---
import BaseLink from "./BaseLink.astro";
import EmailText from "./EmailText.astro";

const today = new Date();
---

<footer>
  <div class="layout-wrapper mb-12 mt-16">
    <p>
      &copy; Aleksi Petrov {today.getFullYear()}. All right reserved.
    </p>
  </div>
</footer>
