<div class="pt-12">
  <form
    id="js-form"
    class="border border-dark-outline rounded-lg px-6 py-4"
    novalidate
  >
    <label for="js-form-email" class="text-dark-title block mb-4"
      >Subscribe for Updates</label
    >
    <div class="relative">
      <input
        id="js-form-email"
        class="py-3 px-4 min-w-full placeholder-dark-text-default text-dark-text-active rounded-md focus:outline-none mb-2 bg-dark-card"
        placeholder="Enter your email..."
        type="email"
      />
      <p class="pb-2" id="js-form-message"></p>
      <button id="js-form-submit-btn" title="Subscribe" class="button w-full">
        <span>Subscribe</span>
      </button>
    </div>
  </form>
</div>

<script>
  import "../../scripts/subscription";
</script>
