---
import ContactLink from "./ContactLink.astro";
---

<p>
  If you have any questions or comments, please feel free to reach out to me on <ContactLink
    className="inline-block"
    type="twitter"
  /> or <ContactLink type="linkedin" className="inline-block" />. I would love
  to hear from you!
</p>
