<div
  class="h-full p-8 sm:flex sm:items-center sm:space-x-16 space-y-8 sm:space-y-0"
>
  <div
    class="h-96 sm:w-48 sm:h-96 lg:w-48 lg:h-56 bg-author bg-cover bg-top bg-no-repeat rounded-xl"
  >
  </div>
  <div class="flex-1 flex items-center">
    <div class="bg-wite rounded-top-none">
      <div class="space-y-4 mb-8">
        <p class="text-dark-text-active">Hello!</p>
        <p>
          I'm Aleks, a Product Designer and Maker. I create simple and intuitive
          digital experiences and enjoy building side projects with AI.
        </p>
      </div>
      <a href="https://twitter.com/alekspetrov_" class="button">
        Follow my Twitter
      </a>
    </div>
  </div>
</div>
