---
import ContactLink from "./ContactLink.astro";
---

<div>
  <div class="leading-7 space-y-6" role="banner">
    <p class="title">Welcome, frined!</p>
    <p>
      I'm Aleks, product maker and design visionary. I spend my time shooting
      product problems in design, code and management.
    </p>
    <p>
      Nice to have you here! <br />
      Follow my <ContactLink type="twitter" /> for future updates!
    </p>
  </div>
</div>
