---
import ContactLink from "./ContactLink.astro";
---

<div>
  <div class="leading-7 space-y-6" role="banner">
    <p class="title">Hello!</p>
    <p>
      Welcome to my personal blog. Here I share my process of ideating,
      planning, building, and launching digital products from scratch using
      Artificial Intelligence and Web3 technologies.
    </p>
    <div>
      <div
        class="inline-block title border border-light-outline dark:border-dark-outline px-4 py-2 rounded text-center mb-2"
      >
        Follow my <ContactLink type="twitter" />
      </div>
    </div>
    <p></p>
  </div>
</div>
