<div
  class="h-full py-8 px-8 xl:px-12 sm:flex sm:items-center sm:space-x-16 space-y-8 sm:space-y-0"
>
  <!-- Image -->
  <div
    class="h-[400px] sm:w-48 sm:h-96 lg:w-48 lg:h-56 bg-author bg-cover bg-top bg-no-repeat rounded-xl"
  >
  </div>
  <!-- Text -->
  <div class="flex-1 flex items-center">
    <div>
      <div class="space-y-4 mb-8 xl:mr-8">
        <p class="text-dark-text-active">Hello!</p>
        <p>
          I'm Aleks, a&nbsp;Product Designer, and&nbsp;Maker. I&nbsp;create
          simple and&nbsp;intuitive digital experiences. Also, I&nbsp;enjoy
          building digital products in&nbsp;public and&nbsp;sharing
          the&nbsp;process.
        </p>
      </div>
      <a href="https://twitter.com/alekspetrov_" class="button">
        Follow my Twitter
      </a>
    </div>
  </div>
</div>
