<div
  class="h-full p-8 xl:p-12 sm:flex sm:items-center sm:space-x-8 space-y-8 sm:space-y-0 lg:space-x-12"
>
  <!-- Image -->
  <img
    src="/images/author_picture.jpeg"
    class="sm:w-48 sm:h-96 lg:w-48 lg:h-48 rounded-xl block object-cover object-top"
  />
  <!-- Text -->
  <div class="flex-1 space-y-8 md:space-y-4">
    <p class="text-dark-text-active">Hello!</p>
    <p>
      I'm Aleks, a&nbsp;Product Designer, and&nbsp;Maker. I&nbsp;create simple
      and&nbsp;intuitive digital experiences. I&nbsp;enjoy building digital
      products in&nbsp;public and&nbsp;sharing the&nbsp;process.
    </p>
    <p class="lg:text-right">
      <a href="https://twitter.com/alekspetrov_" class="button">
        Follow my Twitter
      </a>
    </p>
  </div>
</div>
