---
import ContactLink from "./ContactLink.astro";
---

<div>
  <div class="leading-7 space-y-6" role="banner">
    <p class="title">Welcome!</p>
    <p>
      My name is Aleks and I am a product designer, web developer, and project
      manager with a passion for technology and the future of artificial
      intelligence.
    </p>
    <p>
      I also share updates on my latest projects and provide tips and resources
      for others who are interested in using AI to create innovative and
      engaging products and experiences on <ContactLink type="twitter" />.
    </p>
  </div>
</div>
