<div
  class="h-full px-8 py-8 xl:px-12 md:flex md:items-center md:space-x-8 space-y-8 md:space-y-0 lg:space-x-12"
>
  <!-- Image -->
  <img
    src="/images/author_picture.png"
    class="w-full md:w-48 lg:w-48 xl:w-48 h-full max-h-[560px] rounded-xl block object-cover object-top"
  />
  <!-- Text -->
  <div class="flex-1 space-y-8 md:space-y-4">
    <div>
      <p class="text-dark-text-active mb-2">
        Aleks is a Product Designer and&nbsp;Maker.
      </p>
      <p>
        He&nbsp;creates simple and intuitive digital experiences for&nbsp;SaaS
        products and&nbsp;share learnings.
      </p>
    </div>
    <p class="lg:text-right">
      <a href="https://twitter.com/alekspetrov_" class="button">
        Follow on Twitter
      </a>
    </p>
  </div>
</div>
