---
import EmailText from "./EmailText.astro";
---

<div>
  <div class="leading-7 space-y-6" role="banner">
    <p>
      Aleks creates a unique vision of digital products and leads teams to
      translate ideas into reality. Excel at taking startups through extensive
      user research, interactive prototypes, and MVPs with clear roadmaps. Enjoy
      discussing new technologies with developers and trends with designers.
    </p>
    <p>
      Reach him at
      <EmailText />
    </p>
  </div>
</div>
