<div class="md:flex h-full">
  <div
    class="md:w-64 h-[480px] md:h-auto bg-[url(./author_picture.jpeg)] bg-cover bg-top bg-no-repeat rounded-xl md:m-4"
  >
  </div>
  <div class="md:w-2/3 md:px-8 flex items-center">
    <div
      class="flex-1 bg-wite p-4 lg:p-8 rounded-top-none md:rounded-xl md:rounded-bl-none max-w-xl"
    >
      <div class="space-y-4 mb-8">
        <p class="text-dark-text-active">Hello!</p>
        <p>
          I'm Aleks, a Product Designer and Maker. I create simple and intuitive
          digital experiences and enjoy building side projects with AI.
        </p>
      </div>
      <a
        href="https://twitter.com/alekspetrov_"
        class="block md:inline-block text-center border border-dark-outline rounded-md py-3 px-8 text-dark-text-active hover:bg-dark-card transition-colors duration-200 ease-in-out text-base"
      >
        Follow my Twitter
      </a>
    </div>
  </div>
</div>
