<div class="md:flex h-full">
  <div
    class="md:w-64 h-[480px] md:h-auto bg-[url(./author_picture.jpeg)] bg-cover bg-top bg-no-repeat rounded-xl md:m-4"
  >
  </div>
  <div class="w-2/3 md:px-8 flex items-center">
    <div
      class="flex-1 bg-wite p-8 rounded-top-none md:rounded-xl md:rounded-bl-none max-w-xl"
    >
      <p class="mb-4 text-dark-text-active">Hi there!</p>
      <p class="mb-8">
        I'm Aleks, a Product Designer, and Maker. I create simple
        and&nbsp;intuitive digital experiences, build side-projects with AI and
        share insights on Twitter.
      </p>
      <a
        href="https://twitter.com/alekspetrov_"
        class="block md:inline-block text-center border border-dark-outline rounded-md py-3 px-8 text-dark-text-active hover:bg-dark-card transition-colors duration-200 ease-in-out text-base"
      >
        Follow me on Twitter
      </a>
    </div>
  </div>
</div>
