---
import EmailText from "./EmailText.astro";
---

<div>
  <div class="leading-7 space-y-6" role="banner">
    <p>
      Aleks creates a unique vision of digital products and leads teams to
      translate ideas into reality.
    </p>
    <p>
      Reach him at
      <EmailText />
    </p>
  </div>
</div>
