---
import EmailText from "./EmailText.astro";
---

<div>
  <div class="leading-7 space-y-6" role="banner">
    <p>
      I translate product ideas into reality since 2008. Experienced in design,
      coding, and management. Interested in fintech, educational, life-changing
      projects and technologies.
    </p>
    <p>
      Reach me at
      <EmailText />
    </p>
  </div>
</div>
