---
import { EMAIL, TWITTER, LINKEDIN } from "../../config";
const { type } = Astro.props;
---

{
  type === "email" && (
    <>
      <a class="link" href={`mailto:${EMAIL}`}>
        <slot>Email</slot>
      </a>
    </>
  )
}
{
  type === "twitter" && (
    <>
      <a class="link" href={TWITTER}>
        <slot>Twitter</slot>
      </a>
    </>
  )
}
{
  type === "linkedin" && (
    <>
      <a class="link" href={LINKEDIN}>
        <slot>LinkedIn</slot>
      </a>
    </>
  )
}
