---
const { className } = Astro.props;
---

<div class={className}>
  <div class="h-full p-1">
    <div
      class="h-full p-[1px] bg-gradient-to-bl from-dark-outline to-dark-bg rounded-2xl"
    >
      <div
        class="rounded-2xl bg-gradient-to-bl from-dark-card to-dark-bg text-lg h-full overflow-hidden"
      >
        <slot />
      </div>
    </div>
  </div>
</div>
