---
const { className } = Astro.props;
---

<div class={className}>
  <div class="h-full p-2">
    <div
      class="h-full p-[1px] bg-gradient-to-bl from-dark-outline to-dark-bg rounded-[24px]"
    >
      <div
        class="rounded-[24px] text-lg h-full overflow-hidden bg-gradient-to-bl from-dark-card to-dark-bg"
      >
        <slot />
      </div>
    </div>
  </div>
</div>
