---
// TODO: Rework to stractural component Entity_List + Entity_List_Item that is Astro.property
import { dateToLocale, LocaleOptions } from "../../utils/date";

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-4">
        <a href={post.url} class="hover:text-dark-text-active">
          <h3>{post.title || post.frontmatter?.title}</h3>
        </a>
      </li>
    ))
  }
</ul>
