---
// TODO: Rework to stractural component Entity_List + Entity_List_Item that is Astro.property
import { dateToLocale, LocaleOptions } from "../../utils/date";

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={post.url} class="link-stack">
          <h3 class="title">{post.title || post.frontmatter?.title}</h3>
          {post.frontmatter.status && <div>{post.frontmatter.status}</div>}
          {!post.frontmatter.status && post.frontmatter?.pubDate && (
            <time datetime={post.frontmatter.pubDate}>
              {dateToLocale(post.frontmatter.pubDate, {
                month: "short",
                day: "2-digit",
              } as LocaleOptions)}
            </time>
          )}
        </a>
      </li>
    ))
  }
</ul>
