---
import SinglePostRow from "./SinglePostRow.astro";

// export interface Props {
//   posts: {
//     url: string;
//     title: string;
//     date: string;
//     tags: string[];
//   }[];
//   tags: {
//     name: string;
//     url: string;
//   }[];
// }

const { posts, tags } = Astro.props;
---

<ul class="space-y-5">
  {
    posts.map((post) => (
      <li>
        <a href={post.url}>
          <SinglePostRow post={post} tags={tags} />
        </a>
      </li>
    ))
  }
</ul>
