---
const { projects } = Astro.props;
---

<ul>
  {
    projects.map((post) => (
      <li>
        <a href={post.url} class="link-stack">
          <h3 class="text-light-title dark:text-dark-title">
            {post.frontmatter.title}
          </h3>
          {post.frontmatter.project_type && (
            <span>{post.frontmatter.project_type}</span>
          )}
        </a>
      </li>
    ))
  }
</ul>
