<a
  href="https://contentgenius.io"
  class="flex flex-col min-h-[480px] h-full pt-12 pb-8 bg-origin-border bg-content-genius bg-no-repeat bg-center bg-cover text-center"
>
  <h2 class="text-dark-title text-xl font-semibold">Content Genius</h2>
  <p>AI Powered Publishing Platform</p>
  <p class="mt-auto">Visit Site</p>
</a>
