---
import { SITE_TITLE } from "../../config";
---

<header>
  <div class="layout-wrapper flex justify-between pt-12 pb-16">
    <a href="/" class="title">{SITE_TITLE}</a>
    <button id="js-theme-toggler">&#9789;</button>
  </div>
</header>

<script client:differ>
  const pageBody = document.body;
  const themeTogglBtn = document.getElementById("js-theme-toggler");

  if (localStorage.theme === "dark") {
    pageBody.classList.add("dark");
    localStorage.theme = "dark";
  } else {
    pageBody.classList.remove("dark");
    localStorage.theme = "light";
  }

  themeTogglBtn.addEventListener("click", (e) => {
    const isDark = localStorage.theme === "dark";

    if (isDark) {
      pageBody.classList.remove("dark");
      themeTogglBtn.innerHTML = "&#9789;";
      localStorage.theme = "light";
    } else {
      pageBody.classList.add("dark");
      themeTogglBtn.innerHTML = "&#9728;";
      localStorage.theme = "dark";
    }
  });
</script>
