---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../config";
---

<header>
  <div
    class="layout-wrapper flex justify-between items-center pt-6 pb-8 sm:pt-12 sm:pb-16"
  >
    <div>
      <a href="/" class="title">{SITE_TITLE}</a>
      <span>— {SITE_DESCRIPTION}</span>
    </div>
    <button
      title="Theme"
      id="js-theme-toggler"
      class="w-4 h-4 bg-light-title dark:bg-light-text rounded-full transform hover:scale-110 transition-transform ease-in-out duration-200"
    ></button>
  </div>
</header>

<script client:differ>
  const isDark = localStorage.theme === "dark";
  const pageBody = document.body;
  const themeTogglBtn = document.getElementById("js-theme-toggler");

  function setLightTheme() {
    pageBody.classList.remove("dark");
  }

  function setDarkTheme() {
    pageBody.classList.add("dark");
  }

  // Set theme on load
  isDark ? setDarkTheme() : setLightTheme();

  // Listeners
  themeTogglBtn.addEventListener("click", (e) => {
    const isDark = localStorage.theme === "dark";

    if (isDark) {
      setLightTheme();
      localStorage.theme = "light";
    } else {
      setDarkTheme();
      localStorage.theme = "dark";
    }
  });
</script>
