---
import SingleTweet from "./SingleTweet.astro";

const tweets = [
  {
    text: "📰 New blog post on the importance of #prioritization in #productdesign. If you're a designer or manager, or just interested in the topic you probably can find it useful. #design #productmanagement",
    impressions: 24,
    reposts: 0,
  },
  {
    text: "💡Just realized that chat is not the best way to communicate with AI, yet. The better your prompt is structured the better answer you get, chat gives too much freedom! ",
    impressions: 24,
    reposts: 0,
  },
  {
    text: "My @obsdmd after a month. My #1 tool in daily usage. #productivity #tools",
    impressions: 14,
    image: "/images/obsidian-1.jpeg",
    image_caption: "My Obsidian after a month",
    reposts: 0,
  },
  {
    text: "Wow, @OpenAI #gtp3chat became much faster! Why? Architecture or people are leaving? 🤔",
    impressions: 12,
    reposts: 0,
  },
  {
    text: "📬 Year Progress: 97%",
    impressions: 14,
    reposts: 0,
  },
  {
    text: "Some Tips from #GPT3chat to #GPT3 prompts😉 #promptengineer #promptengineering",
    image: "/images/twitter-1.jpeg",
    image_caption: "Some Tips from GPT3chat to GPT3 prompts",
    impressions: 44,
    reposts: 0,
  },
  {
    text: "Hey, @supabase we can't still talk to Twitter API with Twitter Auth because incompatible versions of OAuth?",
    impressions: 39,
    reposts: 0,
  },
];
---

<div class="overflow-y-scroll h-full" aria-hidden="true">
  {tweets.map((tweet) => <SingleTweet {...tweet} />)}
  <div class="text-center my-8">
    <a href="https://twitter.com/alekspetrov_" class="button">Show more</a>
  </div>
</div>
