---
import SingleTweet from "./SingleTweet.astro";

const tweets = [
  {
    text: "Wow, @OpenAI #gtp3chat became much faster! Why? Architecture or people are leaving? 🤔",
    impressions: 12,
    reposts: 0,
  },
  {
    text: "📬 Year Progress: 97%",
    impressions: 14,
    reposts: 0,
  },
  {
    text: "Some Tips from #GPT3chat to #GPT3 prompts😉 #promptengineer #promptengineering",
    image: "https://pbs.twimg.com/media/FkaI00zX0AAyaIe?format=jpg&name=medium",
    impressions: 44,
    reposts: 0,
  },
  {
    text: "Hey, @supabase we can't still talk to Twitter API with Twitter Auth because incompatible versions of OAuth?",
    impressions: 39,
    reposts: 0,
  },
];
---

<div class="overflow-y-scroll h-full">
  {tweets.map((tweet) => <SingleTweet {...tweet} />)}
  <div class="text-center mt-4 mb-8">
    <a href="https://twitter.com/alekspetrov_" class="button">Show more</a>
  </div>
</div>
