---
import SingleTweet from "./SingleTweet.astro";
---

<div class="overflow-y-scroll h-full">
  <SingleTweet text="Here is my First Tweet in the Stream!" />
  <SingleTweet image="temp.png" text="Text + Image" />
  <SingleTweet text="One more tweet to test the block" />
</div>
