---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { THREADS_URL } from "../../config";

const title = "The Corporate";
const description = "Design System for data-intensive applications";
---

<ProjectLayout title={title} description={description} theme={"gray"}>
  <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
    <img
      src="/images/projects/corporate-design-system/example-app.png"
      alt="Crypto Trading Platform UI"
      class="w-full"
    />
    <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
      <p class="text-small lg:text-body group block max-w-[610px]">
        Example of data-intensive application build with the Corporate Design
        system.
      </p>
    </div>
  </div>

  <div class="bg-black text-gray-300">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <div class="grid grid-cols-4">
        <div
          class="col-span-4 md:col-span-1 pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16 order-1 md:order-0"
        >
          <p
            class="text-small lg:text-body group block max-w-[610px] sticky top-8"
          >
            Color paletts include 12 shades of 7 different colors. Each color
            has a different purpose and can be used in different contexts. The
            pallet is easy to use and scale
          </p>
        </div>
        <div class="col-span-4 md:col-span-3">
          <img
            src="/images/projects/corporate-design-system/color-palette.png"
            alt="Crypto Trading Platform UI"
            class="w-full"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
    <div class="grid grid-cols-4">
      <div
        class="col-span-4 md:col-span-1 pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16"
      >
        <p
          class="text-small lg:text-body group block max-w-[610px] sticky top-8"
        >
          Corprate contains 40 carefully selected settings to ensure that
          typography is consistent and covers different products and marketing
          needs.
        </p>
      </div>
      <div class="col-span-4 md:col-span-3">
        <img
          src="/images/projects/corporate-design-system/typography-set.png"
          alt="Crypto Trading Platform UI"
          class="w-full"
        />
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <div class="grid grid-cols-4">
        <div class="col-span-4 md:col-span-3">
          <img
            src="/images/projects/corporate-design-system/typography-tester.png"
            alt="Crypto Trading Platform UI"
            class="w-full border border-gray-200"
          />
        </div>
        <div
          class="col-span-4 md:col-span-1 pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16"
        >
          <p
            class="text-small lg:text-body group block max-w-[610px] sticky top-8"
          >
            Typography settings are carefuly tested on different layouts in many
            contexts.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <img
        src="/images/projects/corporate-design-system/button.png"
        alt="Crypto Trading Platform UI"
        class="w-full"
      />
      <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
        <p class="text-small lg:text-body group block max-w-[610px]">
          Buttons are the most important element of any interface. Corporate
          contains a set of 480 styles and sizes for buttons, which can be used
          in different contexts.
        </p>
      </div>
    </div>
  </div>

  <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
    <img
      src="/images/projects/corporate-design-system/dropdown.png"
      alt="Crypto Trading Platform UI"
      class="w-full"
    />
    <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
      <p class="text-small lg:text-body group block max-w-[610px]">
        Dropdowns consist of different components which are easy to customize.
      </p>
    </div>
  </div>

  <div class="bg-white text-gray-900">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-16 2xl:px-0">
      <div class="wrapper px-3 py-8 lg:py-32">
        <p class="text-small lg:text-body group block max-w-[610px]">
          <span class="font-medium inline-block"
            >Work in active progress. Follow my
            <a href={THREADS_URL} class="underline">Threads</a> for updates.
          </span>
        </p>
      </div>
    </div>
  </div>
</ProjectLayout>
