---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { TWITTER_URL } from "../../config";

const meta = {
  title: "TermsFlow",
  keywords:
    "uxui, user interface design, ui design, ux design, design screens, contract management, feelance",
  description: "Product design for software contracts management platform",
};
---

<ProjectLayout
  title={meta.title}
  description={meta.description}
  keywords={meta.keywords}
  theme={"light"}
>
  <div class="space-y-8 lg:space-y-48 xl:space-y-56 mb-8 md:mb-56">
    <div class="bg-[#E0DEF1] text-gray-300">
      <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
        <img
          src="/images/projects/termsflow/main-3.png"
          alt="Product Design: Contract management platform"
          class="w-full"
        />
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="md:grid grid-cols-4">
        <h2 class="col-span-1 font-semibold mb-6 md:mb-0 lg:text-medium">
          Overview
        </h2>
        <div class="col-span-3 lg:text-title lg:font-normal">
          TermsFlow is a startup that brings contract management and software
          delivery. Imagine your company depends on a variety of software
          products each has license agreements, coasts, discounts, and expiring
          contracts. To get control over this mess we created the easy-to-use
          product.
        </div>
      </div>
    </div>

    <div class="max-w-[1624px] mx-auto">
      <div class="bg-[#f2f4f5] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/termsflow/offer-1.png"
              alt="Product Design: Commertial offer form"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="">
        <h2 class="font-semibold mb-6 lg:text-medium">Design System</h2>
        <p class="lg:text-title lg:font-normal max-w-[780px]">
          User-friendly design system and base components set to simplify future
          maintenance and development process. The UI uses only a few colors
          that make clear and simple.
        </p>
      </div>
    </div>

    <div class="mx-auto">
      <div class="bg-[#f2f4f5] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/termsflow/design-styles-1.png"
              alt="Design system: Font and Colors"
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="space-y-8 md:space-y-0 md:grid md:grid-cols-2 md:gap-4 max-w-[1624px] mx-auto"
    >
      <div class="col-span-1">
        <div class="bg-[#EBF1DE] overflow-hidden">
          <div class="wrapper px-6 py-9 md:py-6">
            <div class="max-w-[720px] mx-auto -rotate-12">
              <img
                src="/images/projects/termsflow/elements-1.png"
                alt="Design system: Base Components 1"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 md:pt-24 lg:pt-56">
        <div class="bg-[#DEF1F0] overflow-hidden">
          <div class="wrapper px-6 py-9 md:py-6">
            <div class="max-w-[720px] mx-auto -rotate-12">
              <img
                src="/images/projects/termsflow/elements-2.png"
                alt="Design system: Base Componetns 2"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="">
        <h2 class="font-semibold mb-6 lg:text-medium">Screens</h2>
        <p class="lg:text-title lg:font-normal max-w-[780px]">
          A total of 150 screens and hundreds of different states were designed,
          here are some of them.
        </p>
      </div>
    </div>

    <div class="max-w-[1624px] mx-auto">
      <div class="bg-[#E0DEF1] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/termsflow/contracts-1.png"
              alt="Product Design: Contracts"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1624px] mx-auto">
      <div class="bg-[#DEE9F1] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/termsflow/suppliers-2.png"
              alt="Product Design: Suppliers list"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1624px] mx-auto">
      <div class="bg-[#EBF1DE] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/termsflow/supply-chain-1.png"
              alt="Product Design: Supply Chain Graph"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="">
        <h2 class="font-semibold mb-8 lg:text-medium">Stay informed</h2>
        <p class="lg:text-title lg:font-normal max-w-[780px]">
          Keep your eyes on the most important metrics.
        </p>
      </div>
    </div>

    <div class="max-w-[1624px] mx-auto">
      <div class="bg-[#DEF1F0] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/termsflow/graph-1.png"
              alt="Product Design: Analytics"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="">
        <h2 class="font-semibold mb-6 lg:text-medium">Kanban Board</h2>
        <p class="lg:text-title lg:font-normal max-w-[780px]">
          To simplify issues processing we made simple kanban board.
        </p>
      </div>
    </div>

    <div class="max-w-[1624px] mx-auto">
      <div class="bg-[#F1E8DE] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/termsflow/issues-2.png"
              alt="Product Design: Issue Tracker"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6 py-24">
      <div class="text-center">
        <a
          class="lg:text-title lg:font-normal max-w-[780px] underline"
          href="/projects/xcoex-design-system/"
        >
          Next Project
        </a>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 text-gray-900">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-16 2xl:px-0">
      <div class="wrapper px-6 py-8 lg:py-32">
        <p class="text-small lg:text-body group block max-w-[610px]">
          <span class="font-medium">Work with me —</span>
          <a href="mailto:hello@alekspetrov.com" class="underline"
            >hello@alekspetrov.com</a
          >
        </p>
      </div>
    </div>
  </div>
</ProjectLayout>
