---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const title = "Crypto Exhange Platform";
const description = "Design concept of a crypto exchange platform";
---

<ProjectLayout title={title} description={description}>
  <div class="text-gray-300">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
      <img
        src="/images/projects/trading-platform/1.png"
        alt="Crypto Trading Platform UI"
        class="w-full"
      />
      <div class="pt-4 md:pt-6 lg:pt-8 px-3 md:px-10 lg:px-16">
        <p class="text-small lg:text-body group block max-w-[610px]">
          The main screen includes all the best practices of trading platforms.
          With a years of experience in design trading applications I know how
          important to keep the best practices and make the user experience
          smooth.
        </p>
      </div>
    </div>

    <p class="mb-20 max-w-[610px] px-8 md:px-16">Widgets</p>
    <p class="mb-20 max-w-[610px] px-8 md:px-16">Markets info</p>
  </div>
</ProjectLayout>
