---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { TWITTER_URL } from "../../config";

const meta = {
  title: "XCOEX Design System",
  keywords:
    "uxui, user interface design, ui design, ux design, design screens, contract management, feelance, design system, crypto project, crypto exchage, crypto trading",
  description: "Design system for crypto trading and exhange platform",
};
---

<ProjectLayout
  title={meta.title}
  description={meta.description}
  keywords={meta.keywords}
  theme={"light"}
>
  <div class="space-y-8 lg:space-y-48 xl:space-y-56 mb-8 md:mb-56">
    <div class="bg-[#b5d4cf] text-gray-300">
      <div class="wrapper px-6 py-6 md:py-8 lg:py-32 2xl:px-0">
        <img
          src="/images/projects/xcoex/design-system/exchange-1.png"
          alt="Crypto exchange platform"
          class="w-full"
        />
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="md:grid grid-cols-4">
        <h3 class="col-span-1 font-semibold mb-6 md:mb-0 lg:text-medium">
          Overview
        </h3>
        <div class="col-span-3 lg:text-title lg:font-normal">
          XCOEX is a simple-to-use crypto exchange platform. It cuts the gap
          between traditional finance and crypto. This is one of the first
          products that offers depositing with a credit card. I worked on
          product design and built a design system for them.
        </div>
      </div>
    </div>

    <div class="max-w-[1624px] mx-auto">
      <div class="bg-[#f2f4f5] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/xcoex/design-system/styles-1.png"
              alt="Design System: Basic styles"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="">
        <h3 class="font-semibold mb-6 lg:text-medium">Basic styles</h3>
        <p class="lg:text-title lg:font-normal max-w-[780px]">
          A minimalistic but very powerful design system helped to deliver the
          product to market quickly with less effort from the development team.
        </p>
      </div>
    </div>

    <div>
      <div class="max-w-[1624px] mx-auto">
        <div class="bg-[#b5d4cf] text-gray-300">
          <div class="wrapper px-6 py-6 lg:py-32">
            <div class="flex">
              <img
                src="/images/projects/xcoex/design-system/typography-1.png"
                alt="Design System: Typography"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-[1624px] mx-auto">
        <div class="bg-[#b5d4cf] text-gray-300">
          <div class="wrapper px-6 py-6 lg:py-32">
            <div class="flex">
              <img
                src="/images/projects/xcoex/design-system/buttons-1.png"
                alt="Design System: Bottons"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-[1624px] mx-auto">
        <div class="bg-[#b5d4cf] text-gray-300">
          <div class="wrapper px-6 py-6 lg:py-32">
            <div class="flex">
              <img
                src="/images/projects/xcoex/design-system/icons-1.png"
                alt="Design System: Icons"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-[1624px] mx-auto">
        <div class="bg-[#191F27] text-gray-300">
          <div class="wrapper px-6 py-6 lg:py-32">
            <div class="flex">
              <img
                src="/images/projects/xcoex/design-system/inputs-1.png"
                alt="Design System: Inputs"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="">
        <h3 class="font-semibold mb-6 lg:text-medium">Widgets</h3>
        <p class="lg:text-title lg:font-normal max-w-[780px]">
          Modular UI made of widgets simplifies the development process by
          splitting code into modules and maintenance of design system.
        </p>
      </div>
    </div>

    <div
      class="md:space-y-0 md:grid md:grid-cols-2 md:grid-row-12 md:grid-flow-dense md:gap-4 max-w-[1440px] mx-auto"
    >
      <div class="col-span-1 row-span-4">
        <div class="bg-[#AFDCF6] overflow-hidden h-full">
          <div class="wrapper px-6 py-40">
            <div class="max-w-[480px] mx-auto">
              <img
                src="/images/projects/xcoex/design-system/graph-1.png"
                alt="Design system: Graph widget"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 row-span-6">
        <div class="bg-[#F5ECCE] overflow-hidden h-full">
          <div class="wrapper px-6 py-12">
            <div class="max-w-[480px] mx-auto">
              <img
                src="/images/projects/xcoex/design-system/wallet-1.png"
                alt="Design system: Wallet widget"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 row-span-6">
        <div class="bg-[#F7D8C7] overflow-hidden h-full">
          <div class="wrapper px-6 py-40">
            <div class="max-w-[480px] mx-auto">
              <img
                src="/images/projects/xcoex/design-system/depth-of-market-1.png"
                alt="Design system: Depth of market widget"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 row-span-4">
        <div class="bg-[#B5D4CF] overflow-hidden h-full">
          <div class="wrapper px-6 py-12">
            <div class="max-w-[480px] mx-auto">
              <img
                src="/images/projects/xcoex/design-system/login-1.png"
                alt="Design system: Base Componetns 2"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="">
        <h3 class="font-semibold mb-6 lg:text-medium">Modals</h3>
        <p class="lg:text-title lg:font-normal max-w-[780px]">
          There are many modals in the application to keep user focused.
        </p>
      </div>
    </div>

    <div class="mx-auto">
      <div class="bg-[#b5d4cf] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/xcoex/design-system/modal-authentication-1.png"
              alt="Product Design: Authentication"
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="space-y-8 md:space-y-0 md:grid md:grid-rows-1 md:auto-rows-fr md:grid-cols-2 md:gap-4 max-w-[1440px] mx-auto"
    >
      <div class="col-span-1">
        <div class="bg-[#daf7f2] overflow-hidden h-full">
          <div class="wrapper px-6 py-40">
            <div class="max-w-[480px] m-auto">
              <img
                src="/images/projects/xcoex/design-system/modal-verification-1.png"
                alt="Design system: KYC Verification"
                class="rounded-sm shadow-xl shadow-[#c1e1dc]"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <div class="bg-[#f2f4f5] overflow-hidden h-full">
          <div class="wrapper px-6 py-40">
            <div class="max-w-[480px] m-auto">
              <img
                src="/images/projects/xcoex/design-system/modal-withdrawal-1.png"
                alt="Design system: Withdrawal Request"
                class="rounded-sm shadow-xl shadow-[#dfdfdf]"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <div class="bg-[#f2f4f5] overflow-hidden h-full">
          <div class="wrapper px-6 py-40">
            <div class="max-w-[480px] m-auto">
              <img
                src="/images/projects/xcoex/design-system/modal-2factor-1.png"
                alt="Design system: Modal 2FA"
                class="rounded-sm shadow-xl shadow-[#dfdfdf]"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <div class="bg-[#daf7f2] overflow-hidden h-full">
          <div class="wrapper px-6 py-40">
            <div class="max-w-[480px] m-auto">
              <img
                src="/images/projects/xcoex/design-system/modal-2factor-key-1.png"
                alt="Design system: Modal 2FA key"
                class="rounded-sm shadow-xl shadow-[#c1e1dc]"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6">
      <div class="">
        <h3 class="font-semibold mb-6 lg:text-medium">Prototype</h3>
        <p class="lg:text-title lg:font-normal max-w-[780px]">
          A total of 150 screens and hundreds of different states were designed
          and linked into fully functional prototype.
        </p>
      </div>
    </div>

    <div class="mx-auto">
      <div class="bg-[#b5d4cf] text-gray-300">
        <div class="wrapper px-6 py-6 lg:py-32">
          <div class="flex">
            <img
              src="/images/projects/xcoex/design-system/prototype-1.png"
              alt="Product Design: Prototype"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1280px] mx-auto px-6 py-24">
      <div class="text-center">
        <a
          class="lg:text-title lg:font-normal max-w-[780px] underline"
          href="/projects/corporate-design-system/"
        >
          Next Project
        </a>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 text-gray-900">
    <div class="wrapper px-6 py-6 md:py-8 lg:py-16 2xl:px-0">
      <div class="wrapper px-6 py-8 lg:py-32">
        <p class="text-small lg:text-body group block max-w-[610px]">
          <span class="font-medium">Work with me —</span>
          <a href="mailto:hello@alekspetrov.com" class="underline"
            >hello@alekspetrov.com</a
          >
        </p>
      </div>
    </div>
  </div>
</ProjectLayout>
