---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <Body maxWidth="wide">
    <Header />
    <slot />
    <Footer />
  </Body>
</html>
