---
// import Container from "../components/server/BaseContainer.astro";
import BaseBanner from "../components/server/BaseBanner.astro";
import BaseHead from "../components/server/BaseHead.astro";
import GridBox from "../components/server/GridBox.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <div class="text-dark-text-default bg-dark-bg">
      <main class="min-h-screen overflow-x-scroll">
        <slot />
      </main>
    </div>
  </body>
</html>
