---
import BaseHead from "../components/server/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <div
      class="text-dark-text-default bg-dark-bg min-h-screen overflow-hidden overflow-y-auto"
    >
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
