---
import BaseHead from "../components/server/BaseHead.astro";
import Footer from "../components/server/ShellFooter.astro";
import Header from "../components/server/ShellHeader.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="layout-wrapper">
      <slot />
    </main>
    <Footer />
  </body>
</html>
