---
// import Container from "../components/server/BaseContainer.astro";
import BaseBanner from "../components/server/BaseBanner.astro";
import BaseHead from "../components/server/BaseHead.astro";
import GridBox from "../components/server/GridBox.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <main class="text-dark-text-default bg-dark-bg h-screen">
      <slot />
    </main>
  </body>
</html>
