---
import BaseHead from "../components/server/BaseHead.astro";
import Footer from "../components/server/ShellFooter.astro";
import Header from "../components/server/ShellHeader.astro";
import PageHeader from "../components/server/PageHeader.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
  };
}

const {
  content: { title, description },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <article class="blog-content">
      <PageHeader title={title} description={description} />
      <slot />
    </article>
    <Footer />
  </body>
</html>

<style is:global lang="postcss">
  .blog-content {
    @apply space-y-8;
  }

  .blog-content > *:not(.wide) {
    @apply mx-auto max-w-xl px-4;
  }

  .blog-content > .wide {
    @apply max-w-7xl mx-auto px-2 xl:px-0;
  }

  .blog-content > .callout {
    @apply rounded-md bg-neutral-100 py-4 px-5 dark:bg-card-dark;
  }

  .blog-content > h2,
  .blog-content > h3 {
    @apply text-neutral-900 dark:text-neutral-200;
  }

  .blog-content a {
    @apply text-neutral-900 dark:text-neutral-200;
  }

  .blog-content img {
    @apply rounded-lg;
  }

  .blog-content figure figcaption {
    @apply text-center text-sm mt-2 md:pt-0;
  }

  .blog-content > ul,
  .blog-content > ol {
    @apply pl-4;
  }

  .blog-content ul li {
    @apply mb-2 list-disc;
  }

  .blog-content ol li {
    @apply mb-2 list-decimal;
  }
</style>
