---
import BaseHead from "../components/server/BaseHead.astro";
import Footer from "../components/server/ShellFooter.astro";
import Header from "../components/server/ShellHeader.astro";
import PageHeader from "../components/server/PageHeader.astro";
import SubsForm from "../components/client/SubsForm.astro";
import Container from "../components/server/BaseContainer.astro";
import ReadMore from "../components/server/PageReamMore.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
  };
}

const {
  content: { title, description },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Container>
      <Header />
      <article class="blog-content">
        <PageHeader title={title} description={description} />
        <slot />
        <SubsForm />
        <!-- <ReadMore /> -->
      </article>
      <Footer />
    </Container>
  </body>
</html>

<style is:global lang="postcss">
  .blog-content {
    @apply space-y-8;
  }

  .blog-content > *:not(.wide) {
    @apply mx-auto max-w-xl pl-4 pr-4;
  }

  .blog-content > .wide {
    @apply max-w-7xl mx-auto px-2 xl:px-0;
  }

  .blog-content > .callout {
    @apply rounded-md py-6 px-6 md:py-6 border border-light-outline dark:border-dark-outline bg-light-card dark:bg-dark-card;
  }

  .blog-content > .card {
    @apply rounded-md  bg-light-outline py-4 px-6 md:py-6 dark:border-dark-outline dark:bg-dark-card;
  }

  .blog-content a {
    @apply text-light-title transition-all duration-200 ease-in-out hover:underline dark:text-dark-title;
  }

  .blog-content img {
    @apply rounded-lg;
  }

  .blog-content figure figcaption {
    @apply text-center text-sm mt-2 md:pt-0;
  }

  .blog-content ul > li {
    @apply mb-2 list-disc ml-5;
  }

  .blog-content ol > li {
    @apply mb-2 list-decimal ml-5 pl-4;
  }
</style>
